{{!--
<tr class="table-row">
    <td class="table-first-col">{{id}}. {{burger_name}}</td>
    <td><button class="change-devour" data-id="{{id}}">Devour it!</button></td> 
</tr> --}}
{{!--
<li>
	{{burger_name}}

	<button class="change-" data-id="{{id}}" data-newsleep="{{devoured}}">//update this to be devoured?? How does handles bars work this makes no sense to me
		{{#if sleep}}Devour!{{else}}Dont!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>}}

